flows(5).json
[
    {
        "id": "e6a57df227523cb9",
        "type": "tab",
        "label": "Flow 5 Clima API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8c4d6472283a459",
        "type": "mqtt in",
        "z": "e6a57df227523cb9",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c6a6f110826eae52",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "401adf2e7e7560d7"
            ]
        ]
    },
    {
        "id": "401adf2e7e7560d7",
        "type": "json",
        "z": "e6a57df227523cb9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "285ef8c9cd17fb6f",
                "533a8e10534f8636"
            ]
        ]
    },
    {
        "id": "533a8e10534f8636",
        "type": "function",
        "z": "e6a57df227523cb9",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.tem;\nmsg.topi = \"Temperatura\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 80,
        "wires": [
            [
                "c5fb3660e7236b60",
                "f993d2dee512ac3e"
            ]
        ]
    },
    {
        "id": "285ef8c9cd17fb6f",
        "type": "function",
        "z": "e6a57df227523cb9",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "18d68715d1f59410",
                "f993d2dee512ac3e"
            ]
        ]
    },
    {
        "id": "c5fb3660e7236b60",
        "type": "ui_gauge",
        "z": "e6a57df227523cb9",
        "name": "Temperatura",
        "group": "79fce4e6c53e94e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": " C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#3465a4",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "12",
        "seg2": "26",
        "className": "",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "18d68715d1f59410",
        "type": "ui_gauge",
        "z": "e6a57df227523cb9",
        "name": "Humedad",
        "group": "79fce4e6c53e94e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "f993d2dee512ac3e",
        "type": "ui_chart",
        "z": "e6a57df227523cb9",
        "name": "",
        "group": "79fce4e6c53e94e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4a23cb6509d0c482",
        "type": "comment",
        "z": "e6a57df227523cb9",
        "name": "MQTT",
        "info": "",
        "x": 50,
        "y": 40,
        "wires": []
    },
    {
        "id": "79026925cd76c478",
        "type": "inject",
        "z": "e6a57df227523cb9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "86fef9d559c46d99"
            ]
        ]
    },
    {
        "id": "86fef9d559c46d99",
        "type": "http request",
        "z": "e6a57df227523cb9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=18.886254&lon=-99.060356&appid=a6b96f57a8ef5465708a9bee0d9f4259&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 360,
        "wires": [
            [
                "7d4eb8d2bd7f3617"
            ]
        ]
    },
    {
        "id": "7d4eb8d2bd7f3617",
        "type": "json",
        "z": "e6a57df227523cb9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "b5a7532e6a27f8fc",
                "78baf2a37b9d10cc"
            ]
        ]
    },
    {
        "id": "b5a7532e6a27f8fc",
        "type": "function",
        "z": "e6a57df227523cb9",
        "name": "Temperatura API",
        "func": "global.set (\"tempAPI\",msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 360,
        "wires": [
            [
                "18b4190e7d4407bb",
                "18fc8ed29d84e6df"
            ]
        ]
    },
    {
        "id": "78baf2a37b9d10cc",
        "type": "function",
        "z": "e6a57df227523cb9",
        "name": "Humedad API",
        "func": "global.set(\"humAPI\", msg.payload.main.humidity);\nmsg.payload = msg.payload.main.humidity;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "8346b9da8d50493e",
                "18fc8ed29d84e6df"
            ]
        ]
    },
    {
        "id": "07754b6858995ced",
        "type": "comment",
        "z": "e6a57df227523cb9",
        "name": "API",
        "info": "",
        "x": 50,
        "y": 320,
        "wires": []
    },
    {
        "id": "c66599cc73f6284d",
        "type": "inject",
        "z": "e6a57df227523cb9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "0a9bb4253b971459"
            ]
        ]
    },
    {
        "id": "6e283d9233a57557",
        "type": "mqtt out",
        "z": "e6a57df227523cb9",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d8bdecbdd1be8aa",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "0a9bb4253b971459",
        "type": "function",
        "z": "e6a57df227523cb9",
        "name": "JSON publico",
        "func": "msg.payload = '{\"id\":\"Antonio Rios\",\"temp\": ' + global.get(\"tempAPI\")+',\"hum\":' + global.get (\"humAPI\") +'}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 580,
        "wires": [
            [
                "6e283d9233a57557"
            ]
        ]
    },
    {
        "id": "31b2035b98b68344",
        "type": "json",
        "z": "e6a57df227523cb9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "f18f9f83ef48ac92",
                "4576d001dd360da1"
            ]
        ]
    },
    {
        "id": "f18f9f83ef48ac92",
        "type": "function",
        "z": "e6a57df227523cb9",
        "name": "Temperatura Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 740,
        "wires": [
            [
                "59d2ea43fdb6949e"
            ]
        ]
    },
    {
        "id": "4576d001dd360da1",
        "type": "function",
        "z": "e6a57df227523cb9",
        "name": "Humedad Publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 800,
        "wires": [
            [
                "2c5b506af37beff3"
            ]
        ]
    },
    {
        "id": "239036ef9ee5580a",
        "type": "mqtt in",
        "z": "e6a57df227523cb9",
        "name": "",
        "topic": "codigo/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d8bdecbdd1be8aa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 740,
        "wires": [
            [
                "31b2035b98b68344"
            ]
        ]
    },
    {
        "id": "4102b80e0bd5d44a",
        "type": "comment",
        "z": "e6a57df227523cb9",
        "name": "Enviador",
        "info": "",
        "x": 60,
        "y": 540,
        "wires": []
    },
    {
        "id": "1b67344732c34b7c",
        "type": "comment",
        "z": "e6a57df227523cb9",
        "name": "Escuchador",
        "info": "",
        "x": 70,
        "y": 700,
        "wires": []
    },
    {
        "id": "18b4190e7d4407bb",
        "type": "ui_gauge",
        "z": "e6a57df227523cb9",
        "name": "",
        "group": "a4b772b35138c02f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "8346b9da8d50493e",
        "type": "ui_gauge",
        "z": "e6a57df227523cb9",
        "name": "",
        "group": "a4b772b35138c02f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "18fc8ed29d84e6df",
        "type": "ui_chart",
        "z": "e6a57df227523cb9",
        "name": "",
        "group": "a4b772b35138c02f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2c5b506af37beff3",
        "type": "ui_chart",
        "z": "e6a57df227523cb9",
        "name": "",
        "group": "81dbdd1dbecb821f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Humedad Publica ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "59d2ea43fdb6949e",
        "type": "ui_chart",
        "z": "e6a57df227523cb9",
        "name": "",
        "group": "81dbdd1dbecb821f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperatura Publica",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c6a6f110826eae52",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "79fce4e6c53e94e2",
        "type": "ui_group",
        "name": "Informacion por MQTT",
        "tab": "add9ab60c7695b0e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d8bdecbdd1be8aa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.156.177.225",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a4b772b35138c02f",
        "type": "ui_group",
        "name": "Informacion por API",
        "tab": "add9ab60c7695b0e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81dbdd1dbecb821f",
        "type": "ui_group",
        "name": "Publico",
        "tab": "add9ab60c7695b0e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "add9ab60c7695b0e",
        "type": "ui_tab",
        "name": "Flow 5 Clima por API",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]